<div class="topbar">
    <!-- <div class="newCastingImg"></div>
    <div class="topBarText">Create a new casting</div>
    <div class="topBarText">My Casting Calls</div>
    <div class="topBarText">Producer Profile</div> -->
    <div id="navbar"> 
      <ul> 
        <li>
          <a href="#"><div class="newCastingImg"></div>Create a new casting</a>
        </li> 
        <li><a href="#">My Casting Calls</a></li> 
        <li><a href="#">Producer Profile</a></li> 
      </ul> 
    </div> 
    <div class="companyLogo">Casted</div>
  </div>
  <div class="secondbar"></div>

  <div class="all-user-videos">
    <% @user_videos.each do |user_video| %>
    <div class="user-video">
      <div class="video">

        <video id="example_video_<%=user_video.id%>" class="video-js vjs-default-skin" controls="true" preload="auto" width="240" height="320"
            data-setup="{}">
          <source src="<%="#{user_video.video.url}"%>" type='video/mp4' />
        </video>
        </div>
        <div class="side">
          <h2 class="user-name user-description-textcolor">Joanne Pang</h2>
          <p class="user-details user-description-textcolor">25 years, 1.70m</p>
          <!-- table to display the stats -->
          <ul class="stats">
            <li class="stat">
              <span class="countCircle user-description-textcolor">10</span>
              <span class="countText user-description-textcolor">shortlisted</span>
            </li>
            <li class="stat">
              <span class="countCircle user-description-textcolor">3</span>
              <span class="countText user-description-textcolor">casted</span>
            </li>
          </ul>
          <div class="tags">
            <a href="#" class="user-description-textcolor add-tag">
              <i class="add-tag-icon"></i> Add tag
            </a>
          </div>
          <div class="actions">
            <button class="btnAction accept" >Shortlist</button>
            <button class="btnAction reject" >Reject</button>
          </div>
        </div>
      </div>
      <% end %>
    </div> <!-- end all-user-videos -->

