<div class="topbar">
    <!-- <div class="newCastingImg"></div>
    <div class="topBarText">Create a new casting</div>
    <div class="topBarText">My Casting Calls</div>
    <div class="topBarText">Producer Profile</div> -->
    <div id="navbar"> 
      <ul> 
        <li>
          <a href="#"><div class="newCastingImg"></div>Create a new casting</a>
        </li> 
        <li><a href="#">My Casting Calls</a></li> 
        <li><a href="#">Producer Profile</a></li> 
      </ul> 
    </div> 
    <div class="companyLogo">Casted</div>
  </div>
  <div class="secondbar"></div>

  <div class="container">
    <div class="all-user-videos">
      <% @user_videos.each do |user_video| %>
      <table class="user-video-table">
        <tr>
          <td class="user-video">
            <div class="flowplayer functional">
              <video>
                <source type="video/mp4" src="<%="#{user_video.video.url}"%>">
                </video>
              </div>
            </td>
            <td class="user-description">
              <div class="user-name user-description-textcolor">Joanna Pang</div>
              <div class="user-details user-description-textcolor">25 years, 1.70m</div>
              <div class="big-buffer-height"></div>

              <!-- table to display the stats -->
              <table>
                <tr>
                  <td class="countCircle">
                    <div class="countCircleText user-description-textcolor">10</div>
                  </td>
                  <td>
                    <div class="countText user-description-textcolor">Shortlisted</div>
                  </td>
                </tr>
                <tr>
                  <td class="countCircle">
                    <div class="countCircleText user-description-textcolor">3</div>
                  </td>
                  <td>
                    <div class="countText user-description-textcolor">Casted</div>
                  </td>
                </tr>
              </table>

              <div class="big-buffer-height"></div>

              <div class="add-tag">
                <div class="add-tag-img"></div>
                <div class="add-tag-text user-description-textcolor">Add tag</div>
              </div>

              <div class="big-buffer-height"></div>

              <button class="btnAction" style="font-size:1.2em;">Shortlist</button>
              <div class="buffer-height"></div>
              <button class="btnAction"style="font-size:0.9em;">Reject</button>
            </td>
          </tr>
        </table>

        <div class="buffer-width"></div>
        
        <% end %>
      </div> <!-- end div all-user-videos -->
    </div> <!-- end div container -->

