<!DOCTYPE html>
<html>
<head>
  <title>CastingServer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript"
     src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js">
  </script>
 
  <!-- 2. flowplayer -->
  <script type="text/javascript"
     src="http://releases.flowplayer.org/5.4.3/flowplayer.min.js">
  </script>
 
  <!-- 3. skin -->
  <link rel="stylesheet" type="text/css" href="http://releases.flowplayer.org/5.4.3/skin/functional.css">
</head>
<body>

<%= yield %>

</body>
</html>
